@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');*{
    font-family: 'Caveat', cursive;
}
body
{
    margin: 0;
    background-color: #1c75b1;
}
header
{
    width: 100;
    max-width: 1050px;
    margin: 0 auto;
}
nav
{
    position: relative;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #0392f1;
}
nav ul
{
    margin: 0;
    display: flex;   
}    
nav ul li
{
    list-style: none;
}
nav ul li a
{
    font-size: 30px;
    font-weight: 600;
    height: 60px;
    line-height: 60px; 
    padding: 0px 10px;
    text-decoration: none;
    color: #000000;
    display: block;
}
nav ul li a:hover
{
    background: #1f47f8;
    color: #ffff;
    transition: all .3s;
}
.logo
{
    font-size: 40px;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    padding: 0px 10px;
}